* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}
.background {
  background-color: hsl(216, 50%, 16%);
  position: relative;
  top: 45vh;
  left: 50vw;
  width: 327px;
  height: 543px;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}
.wrapper {
  position: relative;
  padding-top: 24px;
  margin-left: 25px;
  width: 278px;
  height: 495px;
}
.equi-all {
  position: relative;
}
.equicyan {
  position: absolute;
  background-color: cyan;
  width: 276px;
  height: 276px;
  border-radius: 8px;
  margin-bottom: 25px;
}
.equi {
  position: absolute;
  width: 278px;
  height: 278px;
  border-radius: 8px;
  margin-bottom: 25px;
  margin-left: -1px;
  margin-top: -1px;
}
.view {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 114px;
  left: 114px;
  opacity: 0;
}
.texts {
  position: absolute;
  margin-top: 300px;
}
h1 {
  font-size: 22px;
  color: white;
  margin-bottom: 12px;
}
.offer {
  font-size: 18px;
  line-height: 24px;
  color: #8bacd9;
  font-weight: 300;
  margin-bottom: 16px;
}
.eth {
  padding-bottom: 16px;
  border-bottom: 1px solid #2e405a;
}
.eth img {
  vertical-align: bottom;
}
.ethblue {
  color: hsl(178, 100%, 50%);
  font-size: 15px;
  margin-left: 6.5px;
}
.time {
  color: #8bacd9;
  font-size: 15px;
  margin-left: 5px;
}
.clocktime {
  margin-left: 90px;
}
.author {
  margin-top: 16px;
  width: 278px;
  height: 33px;
}
.author img {
  display: inline-block;
  width: 32px;
  border: 1px solid white;
  border-radius: 50%;
}
.author p {
  display: inline-block;
  color: #8bacd9;
  line-height: 33px;
  vertical-align: top;
  font-weight: 300;
  margin-left: 16px;
}
.author p span {
  color: white;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  font-size: 10px;
  text-align: center;
  padding-top: 20px;
  transform: translateY(-25%);
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}
@media (min-width: 600px) {
  h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
  }
  .author p span:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
  }
  .equi:hover {
    opacity: 0.3;
    cursor: pointer;
  }
  .equi:hover + .view,
  .view:hover {
    opacity: 1;
    cursor: pointer;
  }
}
